$mobile-large: 450px;
$laptop-small: 1000px;

$black: #212121;
$light-purple: #9fa8da;
$lighter-purple: #c5cae9;
$yellow: #ffca28;
$background: $light-purple;
$green: #81c784;
$red: #d50000;
$white: #f5f5f5;
