@import '../css/variables.scss';

.list-container {
    button.add-item {
        width: 100%;
        height: 60px;
        margin-top: 5px;
        font-size: 57px;
        line-height: 64px;
        box-sizing: border-box;
        border-radius: 5px;
        padding-top: 3px;
        background-color: $green;
        cursor: pointer;
    }
}